body {
    position: relative;
}

.fav-div {
    position: absolute;
    top: -3%;
    left: 90%;
}

.fav {
    width: 35%;
}

.fav-btn {
    border: none;
    background-color: transparent;
    outline: none;
}

.fav-btn:hover {
    cursor: pointer;
}

.fav-btn:active {
    opacity: 0;
    width: 80%;
    transition: all 0.5s;
  }
  
  .fav-btn:active:after {
    opacity: 1;
    transition: 0s
  }

  .star {
      color:gold;
      font-size: 175%;
  }