table{
  margin-left: 2%;
}

td,th{
  width: 25vw;
  height: 10vh;
  margin-right: 2%;
}

.center{
  text-align: center;
}

.monument-icon{
  width: 10%;
  margin: 0 auto;
}

.btn-detail{
  background-color: transparent;
  border: wheat 1px solid;
  border-radius: 3px;
  padding:2%;
}

.monument-icon:hover{
 width: 12%;
}

.search-container{
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1%;
}
.searchBar{
border: none;
background-color: rgba(255, 255, 255, 1);
width: 40%;
padding: 0.5%;
}
.searchBar:hover{
  border: none;
  background-color: rgba(201, 201, 201, 0.6);
  padding: 0.5%;
  }

.checkSearch{
  width: 10vw;
margin-right: 1% ;
margin-left: 4%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}


.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}


/* Monument/Museum Details */

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}