.table-places{
  margin-left: 2%;
}

td,th{
  width: 25vw;
  height: 10vh;
  margin-right: 2%;
}

.center{
  text-align: center;
}

.monument-icon{
  width: 10%;
  margin: 0 auto;
}



.monument-icon:hover{
 width: 12%;
}

.search-container{
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1%;
}
.searchBar{
border: none;
background-color: rgba(255, 255, 255, 1);
width: 40%;
padding: 0.5%;
outline:none;
}
.searchBar:hover{
 
  border: none;
  background-color: rgba(201, 201, 201, 0.6);
  padding: 0.5%;
  width: 99%;
  -webkit-transition: all 1s;
    transition: all 1s;
    outline:none;
  }

.checkSearch{
  width: 20vw;
margin-right: 1% ;
margin-left: 4%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}


.scroll_bar{
  max-height: 90vh;  
  overflow: scroll;
  
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
/* ::-webkit-scrollbar&:hover {
  width: 10px;
} */

::-webkit-scrollbar-track {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #bfc753 40%, #595f08 100%);
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}


.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}


/* Monument/Museum Details */

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

